*{
Margin:0 auto;
Color:hsl(233, 8%, 79%);
padding: 5px 15px;
font-family: inter, sans-serif;
}

body{
    background-color: hsl(36, 100%, 99%);
}

.title{
Cursor:pointer;
}

.navbar{
width: 100%;
Top:0;
Height:10vh;
}

.img--0{
margin-top: 20px;
width: 50%;
float: left;
display: flex;
}

.Nav-Sub{
width: 50%;
display: flex;
}

.List-Item {
Padding: 0px;
List-Style: none;
}

.Nav-Link{
width: 50%;
Color:inherit;
Text-Decoration:none;
}

.container--1 {
width: 60%;
float: left;
}

.img--1{
width: 120%;
}

h1{
font-size: 30px;
color:hsl(240, 100%, 5%);
width: 50%;
float: left;
font-weight: 800;
padding-right: 50px;
}

.text--1{  
width: 50%;
font-size: 14px;
margin-left: -15px; 
color:hsl(236, 13%, 42%);
}

button{
letter-spacing: 3px;
font-size: 10px;
margin-top: 5px;
background-color: hsl(5, 85%, 63%);
color: white;
padding: 12px 40px;
border: none;
}

.container--2{
margin-top: 10px;
width: 30%;
float: right;
background-color: hsl(240, 100%, 5%);
line-height: 35px;
}

h3{
font-size: 33px;
color: goldenrod;
margin-left: -15px; 
}

h4{
font-size: 14px;
color: hsl(36, 100%, 99%); 
margin-left: -15px;         
}  

.text--2{
font-size: 12px; 
margin-left: -15px; 
}

*{
box-sizing: border-box;
}

.container--3{
margin: 0 auto;
width: 100%;
display: flex;
flex-direction: row;                
}

.img--2{
width: 50%;
display: flex;
height: 150px;
width: 200px;
float: left;
}

.text-box{
font-size: 12px;
flex-direction: column;
width: 50%;
float: right;
margin-left: -15px; 
}

strong{
color:hsl(240, 100%, 5%);
font-size: 16px;
margin-left: -15px; 
}

.number{
font-size: 40px;
margin-left: -15px; 
}

.text--3{
margin-left: -15px; 
}

@media screen and (max-width: 900px) {
body{
    padding: none;
    margin: 0;
    font-size: 10px;
}

.Nav-Sub{
    width: 100%;
    display: flex;
}

.Nav-Link{
    display: flex;
    color: hsl(36, 100%, 99%);
    }

.img--1{
    width: 105%;
    }

.container--1{
    width: 100%;
}

h1{
    font-size: 16px;
}

.text--1{
    font-size: 10px
}

button{
    padding: 5px 10px;
    font-size: 8px;
}

.container--2{
    width: 95%;
    float: right;
    line-height: 15px;
}

h3{
    font-size: 16px;
    color: goldenrod;
}

h4{
    font-size: 10px;
    color: hsl(36, 100%, 99%);         
}  

.text--2{
    font-size: 9px;  
}

.container--3{
    display: block; 
    width: 100%;  
    line-height: 30px;        
}

.img--2{
    width: 50%;

}

.text-box{
    margin-top: -20px;
    width: 50%;
    font-size: 14px;
    padding: 20px;
}

strong{
    color:hsl(240, 100%, 5%);
    font-size: 12px;
}

.number{
    font-size: 16px;
}

.text--3{
    font-size: 11px;
}

}




